<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Usuarios</nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="success">Crear usuario</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="success">Administrar usuarios</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="success">Listar usuarios</button>
          </div>
        </div>        
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Permisos</nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="success">Crear permiso</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="success">Administrar permisos</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="success">Listar permisos</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Partidos</nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="warning">Crear partido</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="warning">Administrar partidos</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="warning">Listar partidos</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Resultados</nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="warning">Insertar resultado</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="warning">Administrar resultados</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="warning">Listar resultados</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Roles</nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="success">Crear rol</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="success">Administrar roles</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="success">Listar roles</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Mesas</nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="warning">Crear mesa</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="warning">Administrar mesas</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="warning">Listar mesas</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Candidatos</nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="warning">Crear candidato</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="warning">Administrar candidatos</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <button nbButton status="warning">Listar candidatos</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

