<div class="row">
    <div class="col-md-4">
      <nb-card>
        <nb-card-header>Accesos a la plataforma</nb-card-header>
        <nb-card-body>
            <div class="offset-sm-4 col-sm-5">
                <button nbButton status="success" >Usuarios</button>
            </div>
            <div class="offset-sm-4 col-sm-5">
                <button nbButton status="success" >Roles</button>
            </div>
            <div class="offset-sm-4 col-sm-5">
                <button nbButton status="success" >Permisos</button>
            </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <nb-card>
        <nb-card-header>Resultados elecciones</nb-card-header>
        <nb-card-body>
            <div class="offset-sm-4 col-sm-5">
                <button nbButton status="warning" >Mesas</button>
            </div>
            <div class="offset-sm-4 col-sm-5">
                <button nbButton status="warning" >Partidos</button>
            </div>
            <div class="offset-sm-4 col-sm-5">
                <button nbButton status="warning" >Candidatos</button>
            </div>
            <div class="offset-sm-4 col-sm-5">
                <button nbButton status="warning" >Resultados</button>
            </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
